<div class="card">
  <div class="card-header text-white bg-info">S'enregistrer</div>
  <div class="card-body">
    <form novalidate (ngSubmit)="saveData()" [formGroup]="registerForm">
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label>Nom</label>
          <input
            type="text"
            class="form-control"
            placeholder="Nom"
            formControlName="lastName"
            [ngClass]="{
              'is-invalid':
                registerForm.get('lastName').touched &&
                !registerForm.get('lastName').valid
            }"
          />
          <div class="invalid-feedback">
            <span *ngIf="registerForm.get('lastName').errors?.required">
              Entrez votre nom
            </span>
            <span *ngIf="registerForm.get('lastName').errors?.minlength">
              Minimum 4 charactères
            </span>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label>Prenom</label>
          <input
            type="text"
            class="form-control"
            placeholder="Prenom"
            formControlName="firstName"
            [ngClass]="{
              'is-invalid':
                registerForm.get('firstName').touched &&
                !registerForm.get('firstName').valid
            }"
          />

          <div class="invalid-feedback">
            <span *ngIf="registerForm.get('firstName').errors?.required">
              Entrez votre nom
            </span>
            <span *ngIf="registerForm.get('firstName').errors?.maxlength">
              Maxnimum 20 charactères
            </span>
          </div>
        </div>
      </div>
      <div class="form-row" formGroupName="emailGroup">
        <div class="col-md-6 mb-3">
          <label>E-Mail</label>
          <input
            type="email"
            class="form-control"
            placeholder="E-Mail"
            formControlName="email"
            [ngClass]="{
              'is-invalid': errorMsg
            }"
          />
          <div class="invalid-feedback">
            {{ errorMsg }}
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="confirmEmailId">Confirmer l'E-Mail</label>
          <input
            type="email"
            class="form-control"
            id="confirmEmailId"
            placeholder="Confirmer l'email(requis)"
            formControlName="confirmEmail"
            [ngClass]="{
              'is-invalid':
                registerForm.get('emailGroup').errors ||
                ((registerForm.get('emailGroup.confirmEmail').touched ||
                  registerForm.get('emailGroup.confirmEmail').dirty) &&
                  !registerForm.get('emailGroup.confirmEmail').valid)
            }"
          />
          <div class="invalid-feedback">
            <span
              *ngIf="
                registerForm.get('emailGroup.confirmEmail').errors?.required
              "
            >
              merci d'entrer votre E-mail
            </span>
            <span *ngIf="registerForm.get('emailGroup').errors?.match">
              L'E-mail ne correspond pas
            </span>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="phoneId">Telephone</label>
          <input
            type="tel"
            class="form-control"
            formControlName="phone"
            placeholder="Numéro de tel"
            [ngClass]="{ 'is-invalid': !registerForm.get('phone').valid }"
          />
          <div class="invalid-feedback">
            <span *ngIf="registerForm.get('phone').errors?.required">
              Veuillez entrer votre numéro de télephone.
            </span>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label>Rececoir les notifications</label>
          <div class="col-md-8">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input
                  type="radio"
                  value="email"
                  formControlName="notification"
                  class="form-check-input"
                />
                E-Mail
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input
                  type="radio"
                  value="text"
                  formControlName="notification"
                  class="form-check-input"
                />
                Texte
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="form-row mb-3">
        <div class="col-md-6">
          <label for="ratingId">Note</label>
          <input
            type="number"
            id="ratingId"
            class="form-control"
            formControlName="rating"
            [ngClass]="{
              'is-invalid':
                (registerForm.get('rating').touched ||
                  registerForm.get('rating').dirty) &&
                !registerForm.get('rating').valid
            }"
          />
          <div class="invalid-feedback">
            <span *ngIf="registerForm.get('rating').errors?.rangeError">
              Notez notre service client sur une échelle de 1 à 5
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-check mt-4 pt-3">
            <label for="sendCatalogId" class="form-check-label">
              <input
                type="checkbox"
                class="form-check-input"
                formControlName="sendCatalog"
              />
              Oui je souhaite recevoir la pub
            </label>
          </div>
        </div>
      </div>

      <div *ngIf="registerForm.get('sendCatalog').value">
        <div
          formArrayName="addresses"
          *ngFor="let address of addressList.controls; let i = index"
        >
          <div [formGroupName]="i">
            <div class="form-group row mb-2">
              <label class="col-md-2 col-form-label pt-0"> Type </label>
              <div class="col-md-8">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input
                      type="radio"
                      formControlName="addressType"
                      value="home"
                      class="form-check-input"
                    />
                    Domicile
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input
                      type="radio"
                      formControlName="addressType"
                      value="work"
                      class="form-check-input"
                    />
                    Lieu de travail
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input
                      type="radio"
                      formControlName="addressType"
                      value="other"
                      class="form-check-input"
                    />
                    Autre
                  </label>
                </div>
              </div>
            </div>

            <div class="form-row mb-3">
              <div class="col-md-12">
                <label attr.for="{{ 'street1Id' + i }}">Adresse 1</label>
                <input
                  type="text"
                  id="{{ 'street1Id' + i }}"
                  formControlName="street1"
                  class="form-control"
                />
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col-md-12">
                <label attr.for="{{ 'street2Id' + i }}">Adresse 2</label>
                <input
                  type="text"
                  id="{{ 'street2Id' + i }}"
                  formControlName="street2"
                  class="form-control"
                />
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label attr.for="{{ 'cityId' + i }}">Ville</label>
                <input
                  type="text"
                  id="{{ 'cityId' + i }}"
                  class="form-control"
                  formControlName="city"
                />
              </div>
              <div class="col-md-3 mb-3">
                <label attr.for="{{ 'stateId' + i }}">Departement</label>
                <select
                  id="{{ 'stateId' + i }}"
                  class="form-control"
                  formControlName="state"
                >
                  <option value="">Selectionner un département</option>
                  <option value="A">A</option>
                  <option value="A">B</option>
                  <option value="A">C</option>
                  <option value="A">D</option>
                </select>
              </div>
              <div class="col-md-3 md-3">
                <label attr.for="{{ 'zipId' + i }}">Code postal</label>
                <input
                  type="number"
                  id="{{ 'zipId' + i }}"
                  class="form-control"
                  formControlName="zip"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row mb-2">
          <div class="col-md-4">
            <button
              class="btn btn-outline-info"
              type="button"
              (click)="addAddress()"
            >
              Ajouter une adresse
            </button>
          </div>
        </div>
      </div>

      <div class="text-right">
        <button
          type="button"
          class="btn btn-outline-info mr-2"
          (click)="fillFormData()"
        >
          Remplir les champs par défaut
        </button>
        <button
          class="btn btn-info"
          type="submit"
          [disabled]="!registerForm.valid"
        >
          Sauvegarder
        </button>
      </div>
    </form>
  </div>
</div>

<hr />

<p>Dirty: {{ registerForm.dirty }}</p>
<p>Pristine: {{ registerForm.pristine }}</p>
<p>Valid: {{ registerForm.valid }}</p>
<p>InValid: {{ registerForm.invalid }}</p>
<p>Addresse bloc 1: {{ addressList.get('0.street1')?.value }}</p>
<p>Value:</p>
<pre>{{ registerForm.value | json }} </pre>
